	</div>
	<div style="clear:both;"></div>
	<p>&nbsp;</p>
	<div id="footer"> 
		<!-- <p><a href="/home/about">关于本站</a> | <a href="/home/contact">联系信息</a></p> --> 
		<p>&copy;2011 KIS&nbsp;&nbsp;
		   Power By <a target="_blank" href="http://nodejs.org">node.js</a> And <a target="_blank" href="http://www.mongodb.org/">MongoDB</a> 
		   &gt;&gt;<a target="_blank" href="https://github.com/QLeelulu/kis-711">Source Code</a>&lt;&lt;
		</p>
		<p>
			<a target="_blank" href="http://nodejs.org"><img src="/static/images/nodejs.png" /></a> &nbsp; 
			<a target="_blank" href="http://www.mongodb.org"><img src="/static/images/PoweredMongoDBbeige50.png" /></a>
		</p> 
	</div> 
</body>
</html>