body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	border: 1px solid #aaa; padding: 5px;
}

fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
h4 {
	background-color: #E5ECF9;
	border-bottom: medium none;
	border-top: 1px solid #36C;
	margin: 10px 8px 10px 0;
	padding: 2px;
}
q: before,q: after {
	content: '';
}
body {
	font: 13px "Trebuchet MS",arial,helvetica,clean,sans-serif;
	*font-size: small;
	*font: x-small;
}
body {
	*font-family: Tahoma;
	*font-size: 13px;
}
table {
	font-size: inherit;
	font: 100%;
}
select,input,textarea {
	font: 99% "Trebuchet MS",arial,helvetica,clean,sans-serif;
}
input, textarea{
	border: 1px solid #999;
	border-bottom: 1px solid #888;
	font-size: 13px;
	padding: 3px;
}
pre,code {
	font: 100% monospace;
	*font-size: 100%;
}
body * {
	line-height: 1.5em;
}
.clear {
	clear: both;
}
.clearfix: after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clearfix {
	height: 1%;
}
*+html .clearfix {
	height: 1%;
}
body {
	background: #fff;
	color: #333;
}
a {
	color: #369;
	text-decoration: none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
a:visited { color: #369; text-decoration: none; }
a:hover {
	background: #E5ECF9;
}
a.external {
	background: transparent url(/static/images/externalLink.gif) no-repeat scroll right top;
	padding-right: 10px;
}
a.button {
	display: block;
	border: 1px outset #ccc;
	padding: 2px 5px;
	color: #333;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #DDD url(/static/images/button-bg.gif) repeat-x scroll 0 0;
}
a.button:hover {
	border-color: #9cf #6699ee #69e #77aaff;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.center {text-align: center;}
.error{color:red;}
#container {
	margin: 10px;
	width:960px;
	margin:0 auto;
}
#header {
	background: no-repeat top right;
	border-bottom: solid 1px #CCC;
	padding-bottom:5px;
}
#header .intro h1 {
	font-size: 24px;
}
#header .intro h1 a {
	color: #000;
	text-decoration: none;
}
#header .intro .description {
	font-size: 12px;
	color: #6f6f6f;
}
#header .nav {
	position: relative;
	width: 100%;
	background: #FFF6ED;
	margin-top: 10px;
	border: 1px solid #CCC;
	opacity: .9;
	filter: alpha(opacity=90);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#header .nav ul {
	padding: 3px 0 3px 5px;
}
#header .nav li {
	display: inline;
	padding-right: 0;
	font-size: 14px;
}
#header .nav li.title{
	color: black;
	font-weight: bold;
}
#header .nav a {
	padding: 2px 3px;
	*padding-bottom: 0;
}
#header .nav a:hover {
	background-color: #06c;
	color: #fff;
}

#header .top-user-bar{font-weight: bold;background:#f5f5f5;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fcfcfc',endColorstr='#ececec');background:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#e8e8e8));background:-moz-linear-gradient(270deg,#fcfcfc,#ececec);border-color:#eee;border:1px solid #e9e9e9;border-bottom-color:#f5f5f5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);}
#header .top-user-bar{float:right;padding:4px 10px 3px;font-size:12px;border-top:none;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;border-top-left-radius:0;border-top-right-radius:0;}
#header .top-user-bar a{
	text-shadow: white 1px 1px 0;
	padding:1px 3px;
	font-size:13px;
}


#content {
	width: 100%;
	margin: 25px 0 0;
}
#content h3.title {
	/* border-bottom: 1px solid #CCC; */
	clear: both;
	font-size: 23px;
	margin: 1px 0px;
	position: relative;
	z-index: 1;
}
#content .main{
	float:left;
	margin-right:20px;
	width: 605px;
}
#content .sidebar{
	float: right;
	width: 280px;
}
#footer {
	clear: both;
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #ccc;
}
#header:after, #content:after, #main:after, .clearfix:after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
#pageloading {
	position: fixed;
	_position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 80px;
	padding: 2px;
	text-align: center;
	background: #c44;
	color: #fff;
}

.msgInfo{
	display:none;
	border: 1px solid #ccc;
	background: #FFD;
	padding: 18px;
	font-size: 12px;
	color: #BB2234;
}

#dateStart, #dateEnd{
	color:red;
}

/* mini button */
.minibutton{padding:3px 5px;font-size:13px;font-weight:bold;color:#333;text-shadow:1px 1px 0 #fff;white-space:nowrap;border:none;overflow:visible;cursor:pointer;border:1px solid #d4d4d4;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#f4f4f4;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));background:-moz-linear-gradient(top,#f4f4f4,#ececec);}
.minibutton.green{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);background:#36b825;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#36b825',endColorstr='#28881b');background:-webkit-gradient(linear,left top,left bottom,from(#36b825),to(#28881b));background:-moz-linear-gradient(top,#36b825,#28881b);border-color:#4a993e;}
.minibutton.blue{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);background:#448da6;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#448da6',endColorstr='#32687b');background:-webkit-gradient(linear,left top,left bottom,from(#448da6),to(#32687b));background:-moz-linear-gradient(top,#448da6,#32687b);border-color:#275666;}
.minibutton.danger{color:#900;}
.minibutton>span{display:block;height:21px;padding:0 9px 0 7px;line-height:21px;}
.minibutton:hover{color:#fff;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-color:#518cc6;border-bottom-color:#2a65a0;background:#599bdc;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));background:-moz-linear-gradient(top,#599bdc,#3072b3);}
.minibutton.mousedown{border-color:#2a65a0;border-bottom-color:#518cc6;background:#3072b3;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3072b3',endColorstr='#599bdc');background:-webkit-gradient(linear,left top,left bottom,from(#3072b3),to(#599bdc));background:-moz-linear-gradient(top,#3072b3,#599bdc);}
.minibutton.danger:hover{border-color:#c65651;border-bottom-color:#a0302a;background:#dc5f59;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dc5f59',endColorstr='#b33630');background:-webkit-gradient(linear,left top,left bottom,from(#dc5f59),to(#b33630));background:-moz-linear-gradient(top,#dc5f59,#b33630);}
.minibutton.danger.mousedown{border-color:#a0302a;border-bottom-color:#c65651;background:#b33630;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b33630',endColorstr='#dc5f59');background:-webkit-gradient(linear,left top,left bottom,from(#b33630),to(#dc5f59));background:-moz-linear-gradient(top,#b33630,#dc5f59);}
.minibutton.disabled{opacity:.5;}
.minibutton.selected{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);border-color:#686868;background:#767676;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#767676',endColorstr='#9e9e9e');background:-webkit-gradient(linear,left top,left bottom,from(#767676),to(#9e9e9e));background:-moz-linear-gradient(top,#767676,#9e9e9e);}
.minibutton.follow_control{ padding:5px 20px;}

/* goods list */
.goodslist li{ border-bottom:dashed 1px #ccc; clear:both; font-size:14px;}
.goodslist li .goods_img{
	float:left;
	padding-bottom:20px;
	margin-right: 15px;
	margin-bottom:15px;
	text-align:center;
	display:block; padding:2px; border:solid 1px #ddd;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.goodslist li .goods_img img{
	width:60px; height:60px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
.goodslist li .info p{
	margin:5px 0;
}
.goodslist .edit a{
	margin:0 8px;
}
.goodslist .nostocks, .goodslist .not_on_sale, .goodslist .recommend{
	padding:1px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.goodslist .nostocks, .goodslist .not_on_sale{
	background: #87000E;
	color:#fff;
	border:solid 1px #ccc;
}
.goodslist .recommend{
	background: green;
	color:#fff;
	border:solid 1px #ccc;
}

/* user manager */
.userlist, .billlist{
	padding: 20px 10px;
	font-size:13px;
}
.userlist li, .billlist li, .goodslist li, .commentlist li{
	border-bottom:dashed 1px #ccc;
	padding:10px 0;
}
.userlist li b{ color:green; font-size:14px; }
.userlist li .detail{ padding-left: 20px; }

.goodslist li.even, .userlist li.even, .billlist li.even, .commentlist li.even { background:#F9F9F9; }

.allbillslist li span, .commentlist li span{padding:0 5px; color:#f60;}

/* table */
caption { 
    padding: 0 0 5px 0; 
    width: 700px;      
    font: italic; 
    text-align: right; 
} 
tr:hover td{background: #F2F2F2; color:#369;}
tr.warn td{background: #FFF6ED;}
th {
    color: #4f6b72; 
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    border-top: 1px solid #C1DAD7; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-align: left; 
    padding: 6px 6px 6px 12px; 
    background: #CAE8EA; 
} 

th.nobg { 
    border-top: 0; 
    border-left: 0; 
    border-right: 1px solid #C1DAD7; 
    background: none; 
} 

td { 
    border-right: 1px solid #C1DAD7; 
    border-bottom: 1px solid #C1DAD7; 
    background: #fff;
    padding: 6px 6px 6px 12px; 
    color: #4f6b72; 
} 


td.alt { 
    background: #F5FAFA; 
    color: #797268; 
} 

th.spec { 
    border-left: 1px solid #C1DAD7; 
    border-top: 0; 
    background: #fff url(images/bullet1.gif) no-repeat; 
    font: bold; 
} 

th.specalt { 
    border-left: 1px solid #C1DAD7; 
    border-top: 0; 
    background: #f5fafa; 
    font: bold; 
    color: #797268; 
} 